<div #naPlugin class="cognitive-plugin container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <h4>NEC Risk Analysis</h4>
    </div>
  </div>
  <div class="nec-plugin-content">
    <div class="row">
      <div class="col-xs-12">
        <h4>GutCheck<sup>NEC</sup></h4>
      </div>
    </div>
    <div class="row info-row">
      <div class="col-xs-12">
        GutCheck<sup>NEC</sup> was shown to discriminate well in a large study between those infants who developed NEC and
        those who did not. In a second study, the score at 3 days of age was shown to discriminate those who would
        develop the worst NEC (surgical or leading to death) from those who would not (medical NEC or no NEC). Risk
        factors in GutCheck<sup>NEC</sup> include: gestational age, Hispanic or Black race, outborn status, NICU NEC rate,
        human milk exposure (defined as any human milk on day of life 7 and 14) to reduce risk, probiotics to reduce
        risk, number of culture proven infections, exposure to a packed red blood cell transfusion, hypotension treated
        with inotropic medication and metabolic acidosis. It is scored by 72 hours of age, then every 12-24 hours.
        Rescore if new risk factor added and at 7, 14, 21 and 28 days of age.
      </div>
    </div>
    <div class="row bar-row">
      <div class="col-xs-12">
        <div class="bar low-risk">Low Risk</div>
        <div class="bar moderate-risk">Moderate Risk</div>
        <div class="bar high-risk">High Risk</div>
        <div class="bar very-high-risk">Very High Risk</div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="index zero">0</div>
        <div class="index twenty">20</div>
        <div class="index thirty-two">32</div>
        <div class="index thirty-six">36</div>
        <div class="index sixty">60</div>
        <div *ngIf="currentScore" class="index current-score" [style.left]="currentScoreStyle">
          <div class="line"></div>
          <div class="score">{{currentScore}}</div>
          <div class="text">Patient's Current Score</div>
        </div>
      </div>
    </div>
    <div class="row last-row">
      <div class="col-xs-6">
        <h5><b>Key Drivers</b></h5>
        <img src="{{imagePath}}"/>
      </div>
      <div class="col-xs-6">
        <h5><b>Necrotizing Enterocolitis Rate</b></h5>
        <linechart #line [options]="options"></linechart>
        <table *ngIf="chartData" class="data-table">
          <tr>
            <td class="empty-border"></td>
            <td *ngFor="let l of labels">{{l}}</td>
          </tr>
          <tr *ngFor="let dataset of chartData">
            <td><i class="color-line" [style.backgroundColor]="dataset.lineColor"></i><span>{{dataset.title}}</span></td>
            <td class="text-center" *ngFor="let point of dataset.points"><span *ngIf="point.percent !== undefined && point.percent !== null">{{point.percent}}%</span></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>