.nec-plugin-content {
    background-color: #FFFFFF;
    padding: 15px;
    overflow: auto;
    height: calc(100% - 40px);
}

.nec-plugin-content .bar-row {
    margin-top: 10px;
}

.nec-plugin-content .bar {
    color: #FFFFFF;
    float: left;
    height: 40px;
    text-align: center;
    padding: 10px 0;
}

.nec-plugin-content .low-risk {
    background-color: #89A631;
    width: 33.33%
}

.nec-plugin-content .moderate-risk {
    background-color: #CB9333;
    width: 20%;
}

.nec-plugin-content .high-risk {
    background-color: #DD5632;
    width: 6.67%;
}

.nec-plugin-content .very-high-risk {
    background-color: #BA2831;
    width: 40%;
}

.nec-plugin-content .index {
    position: absolute;
    padding-top: 3px;
    font-size: .9em;
}

.nec-plugin-content .zero {
    left: calc(0% + 15px);
}

.nec-plugin-content .twenty {
    left: calc(33.33% - 3px);
}

.nec-plugin-content .thirty-two {
    left: calc(53.33% - 7px);
}

.nec-plugin-content .thirty-six {
    left: calc(60% - 9px);
}

.nec-plugin-content .sixty {
    right: calc(0% + 15px);
}

.nec-plugin-content .current-score {
    margin-top: -8px;
    text-align: center;
}

.nec-plugin-content .info-row {
    font-size: .9em;
}

.nec-plugin-content .current-score .line {
    width: 1px;
    height: 25px;
    background-color: black;
    display: inline-block;
}

.nec-plugin-content .current-score .score {
    font-weight: bold;
    font-size: 1.2em;
    padding-bottom: 5px;
}

.nec-plugin-content .current-score .text {
    font-size: .9em;
}

.nec-plugin-content .last-row {
    margin-top: 65px;
}

.nec-plugin-content .last-row img {
    height: 250px;
}

.nec-plugin-content .data-table {
    font-size: .8em;
    margin-left: -150px;
    margin-top: 10px;
}

.nec-plugin-content td.empty-border {
    border-top: 0!important;
    border-left: 0!important;
}

.nec-plugin-content .data-table td {
    border: 1px solid #CECECE;
    padding: 2px 5px;
}

.nec-plugin-content td.text-center {
    text-align: center;
}

.nec-plugin-content .color-line {
    display: inline-block;
    height: 5px;
    width: 20px;
    margin-bottom: 2px;
    margin-right: 5px;
    border-radius: 3px;
}