<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Clinical Simulator : Cognitive Medical Systems</title>
    <base th:href='${baseUrl}' target='#'>
</head>

<body style="display:none">
<script type="text/javascript" src='webjars/systemjs/dist/system.js'></script>

<script th:inline="javascript">
    System.config(
        [(${webjarInit})]
    );

    System.import('cs-login').then(function (sec) {
        sec.init();
    });
</script>

    <div class="login-content">
        <div class="image-wrapper">
            <img class="header-image" src="./images/cogmedsys.png"/>
        </div>
        <div class="header-text-wrapper">
            <p>For patients and health care providers.</p>
        </div>
        <form id="cs-form" name="loginForm" th:action="${action}" method="POST"
              target="_self" autocomplete="off" class="container-fluid">
            <div class="row">
                <div class="col-xs-12">
                    <div class="row input-row">
                        <label for="cs-username" class="col-xs-3">Username</label>
                        <div class="col-xs-9">
                            <input id="cs-username" type="text" autofocus/>
                        </div>
                    </div>
                    <div class="row input-row">
                        <label for="cs-password" class="col-xs-3">Password</label>
                        <div class="col-xs-6">
                            <input id="cs-password" type="password" name="password"/>
                        </div>
                        <div class="col-xs-3">
                            <input type="submit" class="form-submit btn btn-success" value="Login"/>
                        </div>
                    </div>
                </div>
            </div>
            <input id="cs-username-real" type="hidden" name="username"/>
        </form>
        <label id="error" class="bg-danger text-center text-danger"
               th:text="${error}">
        </label>
        <div class="form-links">
            <a href="#">Forgot your password?</a> | <a href="#">Request an account</a>
        </div>
    </div>
</body>
</html>
