.problem-icon-cell {
    width: 4px!important;
}

.ag-header-cell.problems-icon-header {
    font-size: 1.2em;
    padding-left: 0!important; /* This overrides a global style explicitly */
    padding: 2px 0px!important;
}

.problems-plugin {
    padding-top: 39px;
}