<div>
    <ag-grid-angular id="{{uuid}}"
                     #agGrid style="width: 100%; height: 70%;box-sizing: border-box;" class="ag-fresh"
                     [gridOptions]="gridOptions"
                     [columnDefs]="columnDefs"
                     [rowData]="rowData"
    >
    </ag-grid-angular>
</div>
