<div #cwfMedicationsPlugin class="cognitive-plugin medications-plugin container-fluid">
  <div class="row">
    <div class="col-xs-12 date-selection-container">
      <date-selection #dateSelection></date-selection>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h4>Medications</h4>
    </div>
  </div>
    <horizontal-split-pane local-storage-key="medications-split-pane">
        <div class="split-pane-content-primary">
            <div class="upper">
                <div class="row">
                  <div class="col-xs-12">
                    <flowsheet #Medications_flowsheet></flowsheet>
                  </div>
                </div>
            </div>
        </div>
        <div class="split-pane-content-secondary">
            <div class="lower container-fluid">
                <div class="row">
                    <div class="col-xs-12 medications-detail-container">
                        <!--<medication-detail #Medications_details></medication-detail>-->
                    </div>
                </div>
            </div>
        </div>
    </horizontal-split-pane>
</div>