.medications-plugin .lower {
    height: 100%;
}

.medications-plugin .upper {
    height: calc(100% - 31px);
}

.medications-plugin .date-selection-container {
    text-align: center;
}

.medications-plugin horizontal-split-pane {
    display: block;
    height: calc(100% - 68px); /* Subtract height of date picker and plugin header rows */
}