<div #cwfIOPlugin class="cognitive-plugin io-plugin container-fluid">
    <div class="row">
        <div class="col-xs-12 date-selection-container">
            <date-selection #dateSelection></date-selection>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <h4>I & O</h4>
        </div>
    </div>
    <horizontal-split-pane local-storage-key="i-o-split-pane">
        <div class="split-pane-content-primary">
            <div class="upper">
                <div class="row">
                    <div class="col-xs-12">
                        <flowsheet #I_O_flowsheet></flowsheet>
                    </div>
                </div>
            </div>
        </div>
        <div class="split-pane-content-secondary">
            <div class="lower container-fluid">
                <div class="row">
                    <div class="col-xs-12">
                        <linechart #linechart></linechart>
                    </div>
                </div>
            </div>
        </div>
    </horizontal-split-pane>
</div>