/* BEGIN: Upper component rows */
.patient-search-plugin .select-row {
    margin-top: 10px;
}

.patient-search-plugin .action-button-row {
    margin-bottom: 10px;
}
/* END: Upper component rows */

/* BEGIN: Search form */
#searchForm label[for] {
    font-size: .9em;
    float: left;
    padding-right: 10px;
    padding-top: 2px;
    text-align: right;
}

#searchForm input, .patient-search-plugin .calendar-input, .patient-search-plugin .ui-dropdown-label {
    height: 22px;
    border-radius: 0;
}

.patient-search-plugin .ui-dropdown-label {
    padding-top: 1px;
}

.patient-search-plugin .form-group {
    margin-bottom: 8px;
}
/* END: Search form */

/* Plugin buttons */
.patient-search-plugin .ui-button {
    border: 1px solid #004869!important;
    background: #004869!important;
}

.grid-row {
    height: calc(100% - 70px)
}