<div class="drawer-button-container">
  <button type="text"
        (click)="openDrawer()"
        class="drawer-btn open-drawer-btn"
        pButton icon="fa fa-arrow-right"></button>
  <div class="check-container">
    <span><i class="fa fa-2x fa-check-circle-o"></i></span>
  </div>
</div>
  <p-sidebar
          class="drawer-sidebar"
          [(visible)]="display"
          position="right"
          [baseZIndex]="10000"
          [fullScreen]="false"
          [style]="{width: '600px'}">
    <div class="drawer-content-sidebar-buttons">
      <button
              class="drawer-btn close-drawer-btn"
              type="text"
              (click)="display = false"
              pButton icon="fa fa-arrow-right">
      </button>
    </div>

    <div class="drawer-plugin cognitive-plugin" #drawerPlugin>
      <p-accordion #accordion [activeIndex]="accordionIndex" expandIcon="fa fa-2x fa-check-circle-o" collapseIcon="fa fa-2x fa-check-circle-o">
        <p-accordionTab header="Quality Measure Checklist">
          <div class="drawer-primary-table-wrapper">
            <grid #drawerPrimaryTable></grid>
          </div>
          <div class="drawer-details-separator"></div>
          <div class="drawer-details"[hidden]="!detailsLoaded">
            <div class="drawer-details-header">
              <span [className]="detailsHeader.colorClass">&nbsp;</span>
              <span class="drawer-details-header-text">{{detailsHeader.text}}</span>
            </div>
            <div class="drawer-details-content">
              <div class="risk-factors container-fluid">
                <div class="row">
                  <div class="col-xs-12">
                    <h5>1. Risk Factors Identified</h5>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-12">
                    <div class="drawer-details-section-content">
                      <grid #riskFactors></grid>
                    </div>
                  </div>
                </div>
              </div>
              <div class="process-adherence container-fluid">
                <div class="row">
                  <div class="col-xs-12">
                    <h5>2. Process Adherence</h5>
                  </div>
                </div>
                <div class="drawer-details-section-content adherence-buttons row">
                  <div class="col-xs-3" *ngFor="let btn of adherenceButtons">
                    <div class="{{btn.class}}">
                      <button type="button" pButton
                              class="adherence-button ui-button-secondary ui-button-text-only {{btn.selected}}"
                              label="{{btn.label}}"
                              (click)="onButtonClicked(btn)">
                      </button>
                    </div>
                  </div>
                </div>
                <div class="row drawer-details-section-content">
                  <div class="col-xs-12">
                    <grid #adherenceCriteria [hidden]="selectedCriteriaButtonId === null"></grid>
                  </div>
                </div>
              </div>
              <div class="gut-neck-check container-fluid">
                <div class="row">
                  <div class="col-xs-12">
                    <h5>3. GutCheckNEC Trend</h5>
                  </div>
                </div>
                <div class="row drawer-details-section-content">
                  <div class="col-xs-12">
                    <linechart #gutCheckNEC></linechart>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div [hidden]="!detailsLoading" class="text-center">
            <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
          </div>
        </p-accordionTab>
      </p-accordion>
    </div>
  </p-sidebar>
