<div #cwfVitalsPlugin class="cognitive-plugin vitals-plugin container-fluid">
    <div class="row">
        <div class="col-xs-12 date-selection-container">
            <date-selection #dateSelection></date-selection>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <h4>Vitals</h4>
        </div>
    </div>
    <horizontal-split-pane
            local-storage-key="vitals-split-pane">
        <div class="split-pane-content-primary">
            <div class="upper">
                <div class="row">
                    <div class="col-xs-12">
                        <flowsheet #vitals_flowsheet></flowsheet>
                    </div>
                </div>
            </div>
        </div>
        <div class="split-pane-content-secondary">
            <div class="lower">
                <div class="row">
                    <div class="col-xs-12">
                        <p-tabView [activeIndex]="activeIndex" (onChange)="onTabChange($event)">
                            <p-tabPanel header="Detail" [selected]="!assessmentTabSelected">
                                <linechart #linechart></linechart>
                            </p-tabPanel>
                            <p-tabPanel header="Assessment" *ngIf="isNEC" [selected]="assessmentTabSelected">
                                <cms-smartform #nec_smart_form></cms-smartform>
                            </p-tabPanel>
                        </p-tabView>
                    </div>
                </div>
            </div>
        </div>
    </horizontal-split-pane>
</div>