<h1>
    Individuals Metric
</h1>

<!--<div style="height:200px; width:80%; border:1px solid #555">-->
    <!--<div style="height: 100%;">-->
        <!--<horizontal-split-pane #box1 primary-component-minsize="0" secondary-component-minsize="0">-->
            <!--<div class="split-pane-content-primary" style="height:50%;">-->
                <!--<div class="upper">-->
                    <!--<individuals-primary-grid></individuals-primary-grid>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="split-pane-content-secondary" style="height:50%;">-->
                <!--<div class="lower">-->
                    <!--<div [ngSwitch]="secondaryQueryComponentType">-->
                        <!--<div class="animate-switch" *ngSwitchCase="1">-->
                            <!--<pie-chart></pie-chart>-->
                        <!--</div>-->
                        <!--<div class="animate-switch" *ngSwitchCase="2">-->
                            <!--<line-graph></line-graph>-->
                        <!--</div>-->
                        <!--<div class="animate-switch" *ngSwitchCase="3">-->
                            <!--<line-graph></line-graph>-->
                        <!--</div>-->
                        <!--<div class="animate-switch" *ngSwitchCase="4">-->
                            <!--<pie-chart></pie-chart>-->
                        <!--</div>-->
                        <!--<div class="animate-switch" *ngSwitchDefault>-->
                            <!--&lt;!&ndash;<pie-chart></pie-chart>&ndash;&gt;-->
                            <!--<individuals-primary-grid></individuals-primary-grid>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</horizontal-split-pane>-->
    <!--</div>-->
<!--</div>-->

<div style="height:380px; width:100%; border:2px solid #555">
    <div style="height: 60%;">
        <horizontal-split-pane
                #box1 primary-component-minsize="200"
                secondary-component-minsize="200"
                local-storage-key="split-pane">
            <div class="split-pane-content-primary">
                <div class="upper">
                    <individuals-primary-grid></individuals-primary-grid>
                </div>
            </div>
            <div class="split-pane-content-secondary" >
                <div class="lower">
                    <div [ngSwitch]="secondaryQueryComponentType">
                        <div class="animate-switch" *ngSwitchCase="1">
                            <pie-chart></pie-chart>
                        </div>
                        <div class="animate-switch" *ngSwitchCase="2">
                            <line-graph></line-graph>
                        </div>
                        <div class="animate-switch" *ngSwitchCase="3">
                            <line-graph></line-graph>
                        </div>
                        <div class="animate-switch" *ngSwitchCase="4">
                            <pie-chart></pie-chart>
                        </div>
                        <div class="animate-switch" *ngSwitchDefault>
                            <pie-chart></pie-chart>
                        </div>
                    </div>
                </div>
            </div>
        </horizontal-split-pane>
    </div>
</div>