<h3 class="first">Quality Metrics</h3>
<p-selectButton
        [options]="metrics"
        [(ngModel)]="selectedMetric"
        (onChange)="onChange($event)"
></p-selectButton>

<div [ngSwitch]="selectedMetric">
    <div *ngSwitchCase="'Individuals'">
        <!--Selected {{selectedMetric}}-->
        <individuals-metric></individuals-metric>
    </div>
    <div *ngSwitchCase="'Unit Summary'">
        <!--Selected {{selectedMetric}}-->
        <unit-summary-metric></unit-summary-metric>
    </div>
</div>

