<h1>
    Unit Summary Metric
</h1>

<div style="height:400px; width:80%; border:1px solid #555">
    <div style="height: 100%;">
        <horizontal-split-pane #box1 primary-component-minsize="80" secondary-component-minsize="60">
            <div class="split-pane-content-primary">
                <div class="upper">
                    <unit-summary-primary-grid></unit-summary-primary-grid>
                </div>
            </div>
            <div class="split-pane-content-secondary" style="height:100%;">
                <div class="lower">
                    <div [ngSwitch]="secondaryQueryComponentType">
                        <div class="animate-switch" *ngSwitchCase="1">
                            <pie-chart></pie-chart>
                        </div>
                        <div class="animate-switch" *ngSwitchCase="2">
                            <line-graph></line-graph>
                        </div>
                        <div class="animate-switch" *ngSwitchCase="3">
                            <line-graph></line-graph>
                        </div>
                        <div class="animate-switch" *ngSwitchCase="4">
                            <pie-chart></pie-chart>
                        </div>
                        <div class="animate-switch" *ngSwitchDefault>
                            <pie-chart></pie-chart>
                        </div>
                    </div>
                </div>
            </div>
        </horizontal-split-pane>
    </div>
</div>