<div #patientSearchPlugin class="cognitive-plugin patient-search-plugin container-fluid">
    <h4>Patient Search</h4>
    <horizontal-split-pane
            class="cognitive-plugin-content"
            local-storage-key="patient-search-split-pane">
        <div class="split-pane-content-primary">
            <div class="upper">
                <div class="form-row">
                    <form name="searchForm" #form="ngForm" id="searchForm" (ngSubmit)="search()">
                        <div class="form-fields">
                            <div class="row">
                                <div class="col-xs-6 form-group">
                                    <label for="firstName" class="col-xs-3">First Name</label>
                                    <div class="col-xs-6">
                                        <input pInputText name="firstName" id="firstName" [(ngModel)]="formModel.firstName" type="text" class="form-control"/>
                                    </div>
                                </div>
                                <div class="col-xs-6 form-group">
                                    <label for="addressOne" class="col-xs-3">Address 1</label>
                                    <div class="col-xs-6">
                                        <input pInputText name="addressOne" id="addressOne" [(ngModel)]="formModel.addressOne" type="text" class="form-control"/>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-6 form-group">
                                    <label for="middleName" class="col-xs-3">Middle Name</label>
                                    <div class="col-xs-6">
                                        <input pInputText name="middleName" id="middleName" [(ngModel)]="formModel.middleName" type="text" class="form-control"/>
                                    </div>
                                </div>
                                <div class="col-xs-6 form-group">
                                    <label for="addressTwo" class="col-xs-3">Address 2</label>
                                    <div class="col-xs-6">
                                        <input pInputText name="addressTwo" id="addressTwo" [(ngModel)]="formModel.addressTwo" type="text" class="form-control"/>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-6 form-group">
                                    <label for="lastName" class="col-xs-3">Last Name</label>
                                    <div class="col-xs-6">
                                        <input pInputText name="lastName" id="lastName" [(ngModel)]="formModel.lastName" type="text" class="form-control"/>
                                    </div>
                                </div>
                                <div class="col-xs-6 form-group">
                                    <label for="city" class="col-xs-3">City</label>
                                    <div class="col-xs-6">
                                        <input pInputText name="city" id="city" [(ngModel)]="formModel.city" type="text" class="form-control"/>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-6 form-group">
                                    <label for="gender" class="col-xs-3">Gender</label>
                                    <div class="col-xs-6">
                                        <p-dropdown name="gender" id="gender" placeholder="Select Gender" [options]="genderOptions" [(ngModel)]="formModel.gender"></p-dropdown>
                                    </div>
                                </div>
                                <div class="col-xs-6 form-group">
                                    <label for="state" class="col-xs-3">State</label>
                                    <div class="col-xs-6">
                                        <input pInputText name="state" id="state" [(ngModel)]="formModel.state" type="text" class="form-control"/>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-6 form-group">
                                    <label for="dob" class="col-xs-3">Date of Birth</label>
                                    <div class="col-xs-6">
                                        <p-calendar name="dob" id="dob" [(ngModel)]="formModel.dob"
                                                    showIcon="true"
                                                    inputStyleClass="calendar-input"></p-calendar>
                                    </div>
                                </div>
                                <div class="col-xs-6 form-group">
                                    <label for="zip" class="col-xs-3">Zip Code</label>
                                    <div class="col-xs-6">
                                        <input pInputText name="zip" id="zip" [(ngModel)]="formModel.zip" type="text" class="form-control input-sm"/>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-6 form-group">
                                    <label for="medicalRecord" class="col-xs-3">Medical Record</label>
                                    <div class="col-xs-6">
                                        <input pInputText name="medicalRecord" id="medicalRecord" [(ngModel)]="formModel.medicalRecord" type="text" class="form-control"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row text-right action-button-row">
                            <div class="col-xs-8"></div>
                            <div class="col-xs-4">
                                <button pButton type="submit" label="Search"></button>
                                <button pButton type="button" (click)="cancel()" label="Cancel"></button>
                                <button pButton type="button" (click)="clear()" label="Clear"></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="split-pane-content-secondary">
            <div class="lower container-fluid">
                <h5>Search Results</h5>
                <div class="row grid-row">
                    <div class="col-xs-12">
                        <grid class="selectable-rows" #patientGrid></grid>
                    </div>
                </div>
                <div class="row text-right select-row">
                    <div class="col-xs-12">
                        <button pButton type="button" (click)="selectPatient()" label="Select" [disabled]="selectedPatientId === null"></button>
                    </div>
                </div>
            </div>
        </div>
    </horizontal-split-pane>
</div>