
<div class="content-section implementation">
    <p-dropdown
            [style]="{'width': '20%'}"
            (onChange)="onChange($event.value)"
            [options]="bundles"
            [(ngModel)]="selectedBundle"
            placeholder="Select a bundle"></p-dropdown>
    <p>Selected bundle: {{selectedBundle ? selectedBundle.name : 'none'}}</p>
</div>
