 <div>
     <div class="content-section implementation">
         <p-tree
                 [style]="{'width': '20%', 'height': '250px'}"
                 [value]="locations"
                 [(selection)]="selectedNodes"
                 selectionMode="checkbox"
                 (onNodeSelect)="nodeSelect($event)"
                 (onNodeUnselect)="nodeUnselect($event)">
         </p-tree>
     </div>
 </div>

