<div>
    <form name="searchForm" role="form">
        <div class="form-group">
            <location-tree
                    (selectedLocations$)=locationChangeHandler($event)
            ></location-tree>
            <br/>
        </div>
        <div class="form-group">
            <units
                    (selectedUnits$)=unitChangeHandler($event)
                    [locations]="locations"
            ></units>
            <br/>
        </div>
        <div class="form-group">
            <bundles
                    (selectedBundle$)=bundleChangeHandler($event)
            ></bundles>
            <br/>
        </div>
        <div class="form-group">
            <time-range
                    (selectedTimeRange$)=timeRangeChangeHandler($event)
            ></time-range>
            <br/>
        </div>
        <br/>
        <div>
            <button
                    pButton type="button"
                    [disabled]="disabled == true"
                    (click)="run()"
                    label={{label}}></button>
            Metric constant
        </div>
    </form>
</div>