
<div class="content-section implementation">
    <p-dropdown
            [style]="{'width': '20%'}"
            (onChange)="onChange($event.value)"
            [options]="timeRanges"
            [(ngModel)]="selectedTimeRange"
            placeholder="Select a time range"></p-dropdown>
    <p>Selected Time Range: {{selectedTimeRange ? selectedTimeRange.startTime + ' ' + selectedTimeRange.endTime : 'none'}}</p>
</div>
