
<div class="content-section implementation">
    <p-multiSelect
            [style]="{'width': '20%'}"
            (onChange)="onChange($event.value)"
            [options]="units"
            [(ngModel)]="selectedUnits"
            defaultLabel="Select a unit"></p-multiSelect>
    <p>locations:</p>
    <ul>
        <li *ngFor="let location of locations">
            {{ location }}
        </li>
    </ul>
    <p>Selected Units: {{selectedUnits}}</p>
</div>
