body {
    background-color: azure!important;
    height: 100%;
    width: 100%;
    margin: 0;
    display: flex;
}

form {
    padding-left: 0!important;
}

.login-content {
    margin: auto;
}

.header-image {
    padding: 0 0 40px 0px;
}

#error:empty {
    visibility: hidden;
}

.input-row {
    padding: 5px 0px;
}

.form-submit {
    margin-top: -20px;
}
