/* This whole thing is kind of a hack where we're just overriding the styles of CWF and fujion.
   Hence, why so many !important declarations are necessary. Most of this is not best CSS
   standard practice as we don't have control over the HTML structure CWF generates.
*/
body, .cwf-desktop {
     background-color: #004869;
 }

.panel-heading {
    background-color: #004869!important;
    border: 0!important;
}

.panel {
    border: 0!important;
}

.fujion_pane {
    border: 0!important;
    margin: 0!important;
}

.fujion_paneview {
    border-radius: 0!important;
    background-color: #004869!important;
}

/* Hide splitter view handles. This can be removed after upgrading to newer version of CWF */
.ui-resizable-handle {
    display: none!important;
}

/* Hide unwanted CWF icons (design mode, help, etc) */
span[data-fujion-name="menubar0"],
span[data-fujion-name="menubar1"],
span[data-fujion-name="menubar2"] {
    display: none;
}

/* BEGIN: Demographics overlay */
div[data-fujion-name="desktopInner"] > div:first-of-type > div:first-of-type {
    position: absolute;
    right: 25px;
    top: 40px;
    z-index: 2;
    background-color: transparent!important;
}

div[data-fujion-name="desktopInner"] > div:first-of-type > div:first-of-type .fujion_paneview {
    background-color: transparent!important;
}
/* END: Demographics overlay */

/* BEGIN: Tab style overrides */
.fujion_tab {
    border: 0!important;
    border-radius: 0!important;
    z-index: 120;
}

.fujion_tabview-top > .fujion_tabview-tabs > .fujion_tab-selected {
    border-bottom: 8px solid #EFF2F7!important;
}

.fujion_tab a {
    color: #FFFFFF!important;
}

.fujion_tabview-tabs {
    margin-left: 250px!important;
}

.fujion_tabview-panes {
    background-color: #004869!important;
    border: 0!important;
}

.fujion_tab-pane {
    background-color: #EFF2F7;
    padding: 0;
}

.cwf-plugin-container {
    overflow: unset!important;
}
/* END: Tab style overrides */

/* Left buffer for patient selection screen */
.fujion_tab-pane:first-of-type {
    margin-left: 200px;
    padding: 25px 15px 5px 15px;
}

/* BEGIN: Toolbar */
div[data-fujion-name="toolbar1"] img {
    height: 45px;
}

div[data-fujion-name="toolbar1"] > div.cwf-plugin-container {
    position: absolute;
    left: 10px;
    top: 20px;
    z-index: 2;
}

div[data-fujion-name="toolbar1"] > .fujion_paneview {
    height: 40px;
    margin: 0 0 0 180px;
}

div[data-fujion-name="toolbar1"] > .fujion_paneview > .fujion_pane {
    margin: 0 auto!important;
}

div[data-fujion-name="toolbar1"] > .fujion_paneview > .fujion_pane > .fujion_paneview {
    background-color: #EFF2F7!important;
}

div[data-fujion-name="titlebar"] {
    padding: 0!important;
}
/* END: Toolbar */


/* BEGIN: Tree view */
div[data-fujion-name="selectorPane"] {
    padding: 80px 0 0 30px;
}

.cwf-treeview-node > a {
    background-color: #004869!important;
    cursor: pointer;
}

.cwf-treeview-node > a.btn-default {
    color: #78A2BD!important;
}

.cwf-treeview-node > a.btn-primary {
    color: #FFFFFF!important;
    position: relative;
}

.cwf-treeview-node > a.btn-primary:after {
    content: "";
    border-right: 18px solid #EFF2F7;
    border-top: 10px solid transparent;
    border-bottom: 8px solid transparent;
    width: 0;
    height: 0;
    position: absolute;
    right: 0;
}

.cwf-treeview-pane {
    background-color: #EFF2F7;
    padding: 15px 15px 5px 15px;
}
/* END: Tree view */

/* Plugin specific styles */
.cwf-plugin-cwfPluginDrawer {
    background-color: #EFF2F7;
    margin-top: 35px;
}

.cwf-plugin-cwfPluginFhirControls {
    margin-left: -7px; /* Overlap simulator plugin for now - combine plugins later */
}
