.cognitive-plugin {
    height: 100%;
}

.cognitive-plugin-content {
    display: block;
    height: calc(100% - 39px); /* This accounts for the h4 header so there will be no scroll bar */
}

.cognitive-plugin .upper-component {
    background-color: #FFFFFF;
    padding: 20px 30px 5px 30px;
    overflow: auto;
}

.cognitive-plugin master-detail .upper-component {
    padding: 15px;
}

.cognitive-plugin .lower-component {
    background-color: #FFFFFF;
    padding: 10px 0;
    z-index: 2;
    overflow: auto;
}

.cognitive-plugin div:focus {
    outline: 0!important;
}

.cognitive-plugin .handle {
    background-color: #8D8E8D!important;
}

horizontal-split-separator {
    background-color: #EFF2F7!important;
}

.cognitive-plugin > h4 {
    font-weight: bold;
}

.cognitive-plugin h5 {
    font-weight: normal;
}

master-detail, grid, p-tabview, p-tabpanel {
    display: block;
}

date-selection {
    display: inline-block;
}

/* BEGIN: AG Grid */
.cognitive-plugin .ag-header-container {
    font-size: .8em;
    text-transform: uppercase;
}

.cognitive-plugin .ag-body {
    font-size: .9em;
}

.cognitive-plugin .ag-header-row, .cognitive-plugin .ag-row, .cognitive-plugin .ag-root {
    border-bottom: 1px solid #E0E1E0;
}

.cognitive-plugin .ag-paging-panel, .cognitive-plugin .paging-control {
    margin: 5px 0;
}

.cognitive-plugin .ag-row-selected {
    background-color: #E0D5CD;
}

.cognitive-plugin .selectable-rows .ag-row {
    cursor: pointer;
}

.cognitive-plugin .ag-cell {
    padding-top: 5px!important;
    padding-bottom: 5px!important;
}

.cognitive-plugin .ag-paging-button {
    background-color: #004869!important;
    color: #FFFFFF!important;
    border: 1px solid #004869!important;
}
/* END: AG Grid */

/* BEGIN: Tab view */
.cognitive-plugin .ui-tabview-nav {
    border-bottom: 1px solid #BCBDBC;
}

.cognitive-plugin .ui-tabview-nav li {
    border: 0!important;
    background: transparent!important;
    margin-bottom: -7px!important;
}

.cognitive-plugin .ui-tabview-nav li.ui-state-active {
    border-bottom: 8px solid #004869!important;
    cursor: pointer!important;
}

.cognitive-plugin .ui-tabview-nav li a {
    color: #454545!important;
    cursor: pointer!important;
}
/* END: Tab view */

/* BEGIN: CDS Colors */
.cds-red {
    background-color: #CC2B1B;
}

.cds-yellow {
    background-color: #C39200;
}

.cds-green {
    background-color: #5B8E27;
}
/* END: CDS Colors */

/* Override jQuery style that makes font awesome icons disappear */
.ui-button-icon-only {
    text-indent: 0!important;
}