<div #scenarioRunnerPlugin class="row">
    <div class="col-xs-12">
        <p-dropdown
                name="scenario"
                id="scenario"
                placeholder="Select a scenario"
                [options]="scenarios"
                [(ngModel)]="scenario"
                [styleClass]="'scenario-dropdown'"
                [appendTo]="'body'"
        >
        </p-dropdown>

        <div pTooltip="Run" style="display:inline-block;" showDelay="500" tooltipPosition="top">
            <button type="button"
                    (click)="run()"
                    [disabled]="runDisabled()"
                    class="ui-button-success scenario-button"
                    pButton icon="fa-play-circle fa-lg">
            </button>
        </div>

        <div pTooltip="Pause" style="display:inline-block;" showDelay="500" tooltipPosition="top">
            <button type="button"
                    (click)="pause()"
                    [disabled]="pauseDisabled()"
                    class="ui-button-warning scenario-button"
                    pButton icon="fa-pause-circle fa-lg">
            </button>
        </div>

        <div pTooltip="Stop" style="display:inline-block;" showDelay="500" tooltipPosition="top">
            <button type="button"
                    (click)="stop()"
                    [disabled]="stopDisabled()"
                    class="ui-button-danger scenario-button"
                    pButton icon="fa-stop-circle fa-lg">
            </button>
        </div>

        <button type="button"
                (click)="showScenarioSteps()"
                pButton icon="fa-info-circle fa-lg"
                class="scenario-button"
                pTooltip="Show Steps"
                showDelay="500"
                tooltipPosition="top">
        </button>

        <button type="button"
                (click)="showConfigurations()"
                pButton icon="fa-cog fa-lg"
                class="scenario-button"
                pTooltip="Configure"
                showDelay="500"
                tooltipPosition="top">
        </button>

        <button type="button"
                (click)="showScenarioRunInstances()"
                pButton icon="fa-archive fa-lg"
                class="scenario-button"
                pTooltip="Show Scenario Run History"
                showDelay="500"
                tooltipPosition="top">
        </button>

        <!--<button type="button"-->
                <!--(click)="deleteScenarioInstance()"-->
                <!--pButton icon="fa-trash fa-2x">-->
        <!--</button>-->


        <p-dialog header="Configuration Settings"
                  [(visible)]="showSettings"
                  height="350"
                  [responsive]="true">
            <div class="row">
                <div class="col-xs-9">
                    <p-listbox
                            [options]="scenarioConfig.scenarioListItems"
                            [(ngModel)]="scenarioConfig.selectedScenario"
                            optionLabel="name"
                            [style]="{'width':'100%'}"
                            [listStyle]="{'max-height': '250px'}">
                    </p-listbox>

                </div>

                <div class="col-xs-3 buttonList">
                    <label class="btn btn-primary">
                        Import
                        <input type="file" (change)="import($event)" hidden>
                    </label>

                    <button
                            class="btn btn-primary"
                            [disabled]="selectScenarioDeleteDisabled()"
                            (click)="scenarioConfig.delete()">
                        Delete
                    </button>

                    <button
                            class="btn btn-primary"
                            (click)="close(true)">
                        OK
                    </button>

                    <button
                            class="btn btn-primary"
                            (click)="close(false)">
                        Cancel
                    </button>

                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div *ngIf="errorMessage">
                        <span style="color: red;">{{errorMessage}}</span>
                    </div>
                </div>
            </div>
        </p-dialog>

        <scenario-dialog #ranScenarioComp></scenario-dialog>
        <scenario-dialog #scenarioStepsComp></scenario-dialog>

    </div>
</div>