.scenario-dropdown {
    width: 200px!important;
}

.scenario-button > span {
    padding-top: 3px;
}

p-dialog .ui-dialog {
    max-height: 70%;
    overflow: scroll;
}

[hidden] {
    display: none !important;
}

