<div>
    <p-dialog id="{{id}}"
              header="{{title}}"
              modal="{{modality}}"
              [(visible)]="showContent"
              width="{{width}}"
              height="{{height}}"
              [resizable]="false">
        <ag-grid-angular id="{{uuid}}"
                         #agGrid style="width: 99%; height: 100%; margin-bottom: -5px; box-sizing: border-box;" class="ag-fresh"
                         [gridOptions]="gridOptions"
                         [columnDefs]="columnDefs"
                         [rowData]="rowData"
        >
        </ag-grid-angular>
    </p-dialog>
</div>