<div #demographicsPlugin [hidden]="!patientSelected" class="demographics-plugin row">
  <div class="col-xs-12">
    <div>
      <span><b>{{model.name}}</b></span>
      <span *ngIf="model.gender">({{model.gender}})</span>
    </div>
    <div class="smaller-font">
      <span *ngIf="model.medicalRecordNumber">MR# {{model.medicalRecordNumber}}</span>
    </div>
    <div class="smaller-font">
      <span *ngIf="model.estimatedGestationalAge">EGA {{model.estimatedGestationalAge}}, </span>
      <span *ngIf="model.correctedGestationalAge">CGA {{model.correctedGestationalAge}}</span>
    </div>
    <div class="smaller-font">
      <span *ngIf="model.daysOfLife !== undefined">DOL {{model.daysOfLife}}, </span>
      <span *ngIf="model.birthWeight">BW {{model.birthWeight}}, </span>
      <span *ngIf="model.todayWeight">TW {{model.todayWeight}}, </span>
      <span *ngIf="model.calculatedWeight">Calc Weight {{model.calculatedWeight}}</span>
    </div>
    <button pButton class="close-chart ui-button-danger" label="Close Chart" (click)="closeChart()"></button>
  </div>
</div>


