<div>
    <div class="container">
        <div class="row">

            <div *ngIf="isInitialized == true;
                then initialized
                else initializing">

            </div>

            <ng-template #initializing>Application Initializing...</ng-template>

            <ng-template #initialized>
                <div>
                    <dashboard></dashboard>
                    <!--<a [routerLink]="['/']">Home</a>-->
                    <!--<router-outlet></router-outlet>-->
                </div>
            </ng-template>

        </div>
    </div>
</div>
