<div #fhirControlsPlugin class="row">
  
  <p-growl></p-growl>
  
  <p-confirmDialog header="Confirmation" icon="fa fa-question-circle" width="425"></p-confirmDialog>
  
    <div class="col-md-12">
      <div [pTooltip]="cleanupResourcesButtonTooltip" style="display:inline-block;" showDelay="500" tooltipPosition="top">
          <button type="button"
                  (click)="cleanupResources()"
                  [disabled]="cleanupResourcesDisabled"
                  class="fhir-control-button"
                  aria-hidden="true"
                  pButton [icon]="cleanupResourcesButtonIcon">
          </button>
      </div>
    </div>
</div>