/* This is used so that the secondary filter is still shown on the same line as the header */
@media (max-width: 1400px) {
    .labs-plugin master-detail .master-detail-title {
        margin-right: 10px!important;
    }
}