.ag-cell {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

div[row-id='NetIntake'] .ag-cell {
    background-color: lightblue;
}

label {
    font-weight: normal !important;
}

.div-percent-bar {
    display: inline-block;
    height: 100%;
    position: relative;
    z-index: 0;
}

.div-outer-div {
    display: inline-block;
    height: 100%;
    width: 100%;
}

.div-percent-value {
    position: absolute;
    padding-left: 2px;
    z-index: 10;
    width: 100%;
}

.ag-cell-last-left-pinned{
    border-right-width: 2px !important;
}
