<div>
    <ag-grid-angular id="unit-summary-primary-grid"
                     #agGrid style="width: 100%; height: 180px;box-sizing: border-box;" class="ag-fresh"
                     [gridOptions]="gridOptions"
                     [columnDefs]="columnDefs"
                     [rowData]="rowData"
    >
    </ag-grid-angular>

</div>
