.demographics-plugin {
    background-color: #FFFFFF;
    padding: 5px 0;
}

.demographics-plugin .smaller-font {
    font-size: .9em;
}

.demographics-plugin .close-chart {
    border: 0!important;
    position: absolute;
    top: 0;
    right: 5;
}