.drawer-button-container {
    margin-top: 105px;
    height: 100%;
    box-shadow: -10px 10px 5px #AEAFB0;
    background-color: #F6F6F5!important;
}

.open-drawer-btn, .close-drawer-btn {
    margin: 0!important;
}

.drawer-btn .ui-button-icon-only .fa {
    margin-left: -.7em!important;
}

.drawer-btn {
    background-color: #004869!important;
    border: 0!important;
    color: #78A2BD!important;
    width: 50px;
    border-radius: 0!important;
}

.check-container {
    background-color: #004869;
    border-top: 2px solid #FFFFFF!important;
    color: #FFFFFF;
    padding: 5px 0 5px .7em;
    width: 100%;
}

.drawer-sidebar .ui-sidebar {
    padding: 0!important;
    border: 0!important;
    margin-top: 105px;
    margin-bottom: 30px;
    height: calc(100% - 105px - 30px);
}

.drawer-plugin {
    height: calc(100% - 25px);
    background-color: #EFF2F7!important;
}
.drawer-plugin .ui-accordion-header {
    width: 100%;
    background-color: #004869!important;
    border: 0!important;
}

.drawer-plugin .ui-accordion-header a {
    color: #FFFFFF!important;
}

.drawer-plugin .ui-accordion-header a:hover,
.drawer-plugin .ui-accordion-header a:active,
.drawer-plugin .ui-accordion-header a:visited,
.drawer-plugin .ui-accordion-header a:focus {
    text-decoration: none!important;
}

.drawer-plugin .ui-accordion-header.ui-state-active:after {
    content: "";
    border-top: 20px solid #004869;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    width: 0;
    height: 0;
    position: absolute;
    left: 40px;
    cursor: default;
}

.drawer-content-sidebar-buttons {
    background-color: #004869!important;
    border-bottom: 2px solid #FFFFFF!important;
    width: 100%;
}

.drawer-plugin .ui-accordion-header-text {
    font-size: 1.2em;
    margin-left: 10px;
}

.drawer-plugin .ui-accordion {
    height: 100%;
}

.drawer-plugin .ui-accordion-content-wrapper {
    height: calc(100% - 55px);
    padding: 30px 20px 15px 20px!important;
}

.drawer-plugin input[type="checkbox"] {
    margin: 2px 0!important;
}

.drawer-plugin p-accordion, .drawer-plugin p-accordionTab {
    display: block;
    height: 100%;
}

.drawer-plugin .ui-accordion .ui-accordion-content {
    padding: 0!important;
    height: 100%;
    overflow: unset!important;
}

.drawer-primary-table-wrapper {
    padding: 10px;
    height: 80px;
}

div.ui-accordion-header.ui-state-default.ui-corner-all.ui-state-active > span {
    color: #454545!important;
}

.cognitive-plugin .ag-cell[col-id="icon"] {
    padding: 0!important;
    width: 4px!important;
}

.drawer-details {
    /* Will need to find a better way to do this when the table has more than one row - table fixed height perhaps */
    height: calc(100% - 90px);
    padding: 10px;
}

.drawer-details-separator {
    height: 10px;
    background-color: #EFF2F7;
}

.drawer-details-header-text {
    padding-bottom: 5px;
    border-bottom: 2px solid #C0C2C0;
    width: calc(100% - 9px);
    display: inline-block;
    font-size: 1.4em;
}

.drawer-details-header {
    padding-left: 5px;
}

.header-color {
    width: 4px;
    font-size: 1.4em;
    float: left;
    margin-right: 5px;
}

.drawer-details-content {
    height: calc(100% - 32px);
    margin-top: 5px;
    overflow: auto;
}

.drawer-details-content h5 {
    font-size: 1.1em;
    font-weight: bold;
}

.drawer-details-section-content {
    padding: 15px 15px 10px 15px;
}

.status-ok {
    border-left: 8px solid #5B8E27;
}

.status-caution {
    border-left: 8px solid #C39200;
}

.status-fail {
    border-left: 8px solid #CC2B1B;
}

.adherence-button {
    height: 48px;
    border: 0!important;
    border-radius: 0!important;
    background-color: #F4F2F1!important;
}

.adherence-button.selected {
    border: 0!important;
    background-color: #989998!important;
    color: #FFFFFF;
}

.adherence-button.ui-button-text-only .ui-button-text {
    display: block;
    padding: .25em .5em!important;
}

.adherence-button:focus {
    outline: 0;
}